* {
    font-family: Arial;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-------------container--------------*/
#container {
    position: relative;
    margin: 0px 50px;
    height: auto;
    width: auto;
}

/*------------------Container_nav-----------------------*/
#nav {
    position: relative;
    background: #e056fd;
    line-height: 15px;
    border-top: 5px solid gray;

}

#nav table tr th {
    padding: 2px;
    border-left: 2px solid black;
}

#nav table tr th a {
    text-decoration: none;
    margin: 0px 5px;
    color: black;
}

/*----------------Container_article----------------------*/
#article {
    width: 90%;
    position: relative;
    float: left;
    background: white;
    margin-top: 30px;
    height: auto;
}

/*---------------article_left-----------------*/

/*----------------left_above---------------------*/
#article .left {
    width: 40%;
    height: auto;
    background: #ffffff;
    position: relative;
    float: left;
}

#article .left .above {
    position: relative;
    width: 100%;
    height: 500px;
    padding-left: 120px;
    padding-bottom: 60px;
}

#article .left .above .link {

    padding-bottom: 30px;
    background: #be2edd;
}

#article .left .above .link select{
    border-radius: 3px;
    margin-left: 25%;
    width: 50%;
}

#article .left .document{
    background: white;
    height: 100%;
    overflow: scroll;
}

/*---------------left_below---------------*/

#article .left .below {
    position: relative;
    margin: 10px 10px 10px 0px;
    width: 100%;
    height: 240px;
    background: #be2edd;
}

#article .left .below  {
    padding: 10px;
}

#article .left .below .picture {
    float: right;
}

#article .left .below img {
    width: 143px;
    height: 218px;
}


/*--------------article_right-------------------*/
#article .right {
    width: 60%;
    height: auto;
    position: relative;
    background: #ffffff;
    float: right;
    padding: 0 0px 10px 10px;
}

#article .right .above01 {
    margin-left: 250px;
    margin-top: -30px;
}

#article .right .above02{
    margin-left: 296px;
    margin-top:-90px;
}

#article .right .main{
    margin-top: 100px;
}

#article .right .main .img01{
    padding: 50px;
}

#article .right .main .img02{
    margin-bottom: -75px;
    margin-left: 100px;
    height: 600px;
    width: 400px;
}

#article .right .main .img03{
    margin-left: 550px;
    margin-top: -50px;
    height: 250px;
    width: 250px;
}

/* ----------------Container_aside------------------- */
#aside {
    float: right;
    width: 10%;
}

#aside .img_aside {
    height: 780px;
    width: 100px;
    background: #20bf6b;
    float: right;
}

#aside .img_aside .img01{
    float: right;
    margin-right: 100px;
}

#aside .img_aside .img02{
    margin-top: -30px;
    height: 785px;
    float: right;
    border-left: 10px solid #fd9644;
}